:root {
  --main-blue: #000077;
  --purple: #7F20F5;
  --light-purple: #A05BF6;
  --light-blue: #B8B8FA;
  --blue: #8F8FF8;
  --white: #FAF5FF;
}

@font-face {
  font-family: Copperplate-Gothic-Bold-Regular;
  src: url("./assets/fonts/Copperplate\ Gothic\ Bold\ Regular.ttf");
}

body {
  background-color: var(--main-blue);
  width: 60%;
  height: 80vh;
  margin: 10vh auto;
}
