:root {
  --main-blue: #000077;
  --purple: #7F20F5;
  --light-purple: #A05BF6;
  --light-blue: #B8B8FA;
  --blue: #8F8FF8;
  --white: #FAF5FF;
  --background: linear-gradient(
    45deg,
    rgba(0, 0, 119) 0%,
    rgba(0, 0, 0) 100%
  );
  --border: linear-gradient(
    90deg, 
    #0000F5 0%, 
    #8F9CF8 50%,
    #0000F5 100%
  );
}

@font-face {
  font-family: Copperplate-Gothic-Bold-Regular;
  src: url("./assets/fonts/Copperplate\ Gothic\ Bold\ Regular.ttf");
}

body {
  background: var(--background);
  width: 80%;
  height: 80vh;
  margin: 10vh auto;
}
